{% extends "layout.html" %}
{% block body %}
  {% for product in cart %}
	<div class="product">
    <h2>{{ product.name }}</h2>
	<img src="{{ url_for('static', filename=product.name~'.jpg')}}" alt="{{ product.name }}">
	<h3>{{ '$%.2f'|format(product.price) }}</h3>
    <form action="{{ url_for('delete_from_cart') }}" method=post>
      <dl>
		<dd><input type="hidden" name="id" value="{{ product.id }}">
        <dd><input type=submit value="Delete From Cart">
      </dl>
    </form>
	</div>
  {% else %}
    <div><em>An empty cart... how sad!</em></div>
  {% endfor %}
  <h2> Total price:</h2> {{ '$%.2f'|format(total) }}
{% endblock %}