{% extends "layout.html" %}
{% block body %}
  <ul class=products>
  {% for product in products %}
    <li><h2>{{ product.name }}</h2><img src="{{ product.name }}.jpg" alt="{{ product.name }}">{{ product.description }}
	<h3>{{ product.price }}</h3>
	{% if session.logged_in %}
    <form action="{{ url_for('add_to_cart') }}" method=post class=add-cart>
      <dl>
		<dd><input type="hidden" name="name" value="{{ product.name }}">
		<dd><input type="hidden" name="price" value={{ product.price }}>
        <dd><input type=submit value="Add to Cart">
      </dl>
    </form>
	{% endif %}
  {% else %}
    <li><em>An empty store... how sad!</em>
  {% endfor %}
  </ul>
{% endblock %}